# Virtual environments
venv/
venv310/
__pycache__/

# Python artifacts
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Jupyter checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
